*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    border: 2px solid blueviolet;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 20px 20px;
}

.items{
    background-color: chartreuse;
    border: 2px solid black;
}